<%# 新規に解放されたリワードをトーストで通知。各リワード1つずつ表示。3秒で自動消去。 %>

<% tier_ja = { 'bronze' => '銅', 'silver' => '銀', 'gold' => '金' } %>

<% rewards.each do |r| %>
  <div class="toast reward-toast" data-timeout="3000">
    <%= image_tag r.icon_path, alt: "", width: 28, height: 28, style: "flex:none" %>
    <div>
      <strong>
        <%= r.kind == 'medal' ? 'メダル' : 'トロフィー' %>（<%= tier_ja[r.tier] %>）
      </strong>
      を解放！
      <% if r.respond_to?(:name) && r.name.present? %>
        <span><%= r.name %></span>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  // ダッシュボードのアイコンにアニメ用クラスを付ける
  document.dispatchEvent(new CustomEvent("reward:unlocked", {
    detail: { ids: <%= raw rewards.map(&:id).to_json %> }
  }));
</script>