<%= turbo_stream.replace dom_id(@milestone) do %>
  <%= render partial: "milestones/card", locals: { milestone: @milestone, achievement: @achievement } %>
<% end %>

<!-- ついでにヘッダの花丸数やメダルUIも差し替えたければ -->
<%= turbo_stream.replace "medal-count" do %>
  <%= render "shared/medal_count", child: current_child %>
<% end %>

<%= turbo_stream.append "flash" do %>
  <div class="flash flash--success">更新しました</div>
<% end %>