<!DOCTYPE html>
<html>
  <head>
    <title>KidsMilestones</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %> %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |k, v| %>
    <div class="flash <%= k %>" style="padding:.5rem 1rem; margin:.5rem 0; border-radius:.5rem; background:#eef;">
      <%= v %>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
